project:
  type: website
  resources:
   - googlecbb69ef34ca20e9d.html
  render:

   - about.qmd
   - data_dictionary.qmd
   - data_evolution_overview.qmd
   - data_metrics.qmd
   - data_labeling.qmd
   - metadata.qmd
   - 404.qmd
   - robots.txt
   - aug_2025/*
   - nov_2025/*
   - cap_forms_data_dict/*
   - dicom_data_dict/*
   - epic_media_server_dict/*
   - feb_2025/*
   - hippo_data_dict/*
   - may_2025/*
   - neuralframe_data_dict/*
   - omop_data_dict/omop_data_dict_5.3/*
   - omop_data_dict/omop_data_dict_5.4/*
   - philips_ispm_data_dict/*
   - stamp_add_on_data_dict/*
   - stamp_metadata/*
website:
  title: "VISTA Oncology Data Lake"
  site-path: "/about/"
  open-graph: true
  page-navigation: true
  back-to-top-navigation: false
  sidebar:
    collapse-level: 1
    show-item-context: true
    contents:
      - section: "About"
        href: about.qmd
        contents:
          - section: "February 2025"
            contents:
              - text: "Released Datasets"
                href: feb_2025/released_datasets.qmd
          - section: "May 2025"
            contents:
              - text: "Released Datasets"
                href: may_2025/released_datasets.qmd
          - section: "August 2025"
            contents:
              - text: "Released Datasets"
                href: aug_2025/released_datasets.qmd
          - section: "November 2025"
            contents:
              - text: "Released Datasets"
                href: nov_2025/released_datasets.qmd
          - section: "February 2026"
            contents:
              - text: "Released Datasets"
                href: feb_2026/released_datasets.qmd
      - section: "Data Dictionary"
        href: data_dictionary.qmd
        contents:
          - section: "OMOP-CDM"
            contents: 
              - section: "OMOP CDM 5.4.2"
                contents: omop_data_dict/omop_data_dict_5.4/*
              - section: "OMOP CDM 5.3.1"
                contents: omop_data_dict/omop_data_dict_5.3/*
          - section: "NeuralFrame"
            contents: neuralframe_data_dict/*
          - section: "Philips ISPM"
            contents: philips_ispm_data_dict/*
          - section: "STAMP Add-On Data"
            contents: 
              - text: "STAMP Add-On"
                href: stamp_add_on_data_dict/stamp_addon_data.qmd
          - section: "Epic Media Server Documents"
            contents: 
              - text: "Epic Media Server Documents"
                href: epic_media_server_dict/epic_media_server.qmd
          - section: "HIPPO Benchmark"
            contents: 
              - text: "Gold Standard Full Text"
                href: hippo_data_dict/phi_dataset.qmd#full-text
              - text: "Gold Standard Spans"
                href: hippo_data_dict/phi_dataset.qmd#spans
          - section: "Lung Resection CAP Forms"
            contents: cap_forms_data_dict/* 
      - section: "Metadata"
        href: metadata.qmd
        contents:
          - text: "DICOM"
            href: dicom_data_dict/dicom_data_dictionary.qmd  
          - section: "Genetic"
            contents: 
             - section: "STAMP All Versions"
               contents: 
                 - text: "STAMP-V1"
                   href: stamp_metadata/stamp_all_versions.qmd#stamp-v1
                 - text: "STAMP-V2"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#stamp-v2
                 - text: "STAMP-V3"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#stamp-v3
                 - text: "STAMP-V4"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#stamp-v4
             - section: "HEME-STAMP All Versions"
               contents: 
                 - text: "HEME-STAMP-V1"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#heme-stamp-v1
                 - text: "HEME-STAMP-V2"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#heme-stamp-v2
                 - text: "HEME-STAMP-V4"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#heme-stamp-v4
             - section: "BED Files All Versions"
               contents: 
                 - text: "BF HEME-STAMP-V1"
                   href: stamp_metadata/bed_files_all_versions.qmd#Bed-HEME-STAMP-V1
                 - text: "BF HEME-STAMP-V2"
                   href: stamp_metadata/bed_files_all_versions.qmd#Bed-HEME-STAMP-V2
                 - text: "BF STAMP-V1"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#bed-stamp-v1
                 - text: "BF STAMP-V2"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#bed-stamp-v2
                 - text: "BF STAMP-V3"
                   href: stamp_metadata/heme_stamp_all_versions.qmd#bed-stamp-v3
      - text: "Data Evolution Overview"
        href: data_evolution_overview.qmd
        contents: 
          - text: "Data Evolution Trends"
            href: feb_2026/data_coverage_trends.qmd
      - section: "Data Metrics"
        href: data_metrics.qmd
        contents:
          - text: "February 2025"
            href: feb_2025/demographic_clinical.qmd
          - section: "May 2025"
            href: may_2025/metrics_clinical.qmd
            contents:
              - text: "Neural Frame"
                href: may_2025/neural_frame.qmd
              - text: "Image Occurrence"
                href: may_2025/image_occ.qmd
              - text: "Philips ISPM"
                href: may_2025/philips_metrics.qmd
              - text: "Tumor Board"
                href: may_2025/tumor_board_updated.qmd
          - section: "August 2025"
            href: aug_2025/metrics_clinical.qmd
            contents:
              - text: "Neural Frame"
                href: aug_2025/neural_frame.qmd
              - text: "Image Occurrence"
                href: aug_2025/image_occ.qmd
              - text: "Philips ISPM"
                href: aug_2025/philips_metrics.qmd
              - text: "Tumor Board"
                href: aug_2025/tumor_board_updated.qmd
          - section: "November 2025"
            href: nov_2025/metrics_clinical.qmd
            contents:
              - text: "Neural Frame"
                href: nov_2025/neural_frame.qmd
              - text: "Image Occurrence"
                href: nov_2025/image_occ.qmd
              - text: "Philips ISPM"
                href: nov_2025/philips_metrics.qmd
              - text: "Tumor Board"
                href: nov_2025/tumor_board_updated.qmd
          - section: "February 2026"
            href: feb_2026/metrics_clinical.qmd
            contents:
              - text: "Neural Frame"
                href: feb_2026/neural_frame.qmd
              - text: "Image Occurrence"
                href: feb_2026/image_occ.qmd
              - text: "Philips ISPM"
                href: feb_2026/philips_metrics.qmd
              - text: "Tumor Board"
                href: feb_2026/tumor_board_updated.qmd
              - text: "Whole Slide Imaging"
                href: feb_2026/wsi_metrics.qmd
              - text: "Genetic Variants"
                href: feb_2026/genetic_metrics.qmd
      - section: "Data Labeling and Modeling"
        href: data_labeling.qmd
        contents:
          - section: "February 2025"
            contents:
              - section: "PHI Labeling" 
                contents:
                - text: "Labeling Guidelines"
                  href: feb_2025/phi_labeling_guidelines.qmd  
                - text: "Labeling Report"
                  href: feb_2025/phi_labeling_report.qmd
                - text: "Labeling Process"
                  href: feb_2025/phi_labeling_process.qmd
          - section: "May 2025"
            contents:
              - section: "AI for Automatic Synoptic Reporting"
                contents:
                - text: "Methods and Results"
                  href: may_2025/cap_forms_methods.qmd
              - section: "PHI labeling"
                contents:
                - text: "Labeling Report"
                  href: may_2025/phi_labeling_report.qmd
          - section: "August 2025"
            contents:
              - section: "AI for Automatic Synoptic Reporting"
                contents:
                - text: "Methods and Results"
                  href: aug_2025/cap_forms_methods.qmd
              - section: "PHI labeling and Modeling"
                contents:
                - text: "Labeling and Modeling Report"
                  href: aug_2025/phi_labeling_modeling_report.qmd
          - section: "November 2025"
            contents:
            - text: "Agentic Tide Evaluation and Reporting"
              href: nov_2025/agentic_tide_metrics.qmd
  navbar:
    left:
      - text: "About"
        href: about.qmd
      - href: data_dictionary.qmd
        text: "Data Dictionary"
      - href: data_evolution_overview.qmd
        text: "Data Evolution Overview"
      - href: data_metrics.qmd
        text: "Data Metrics"
      - href: data_labeling.qmd
        text: "Data Labeling and Modeling"
      - href: metadata.qmd
        text: "Metadata"
    tools:
      - icon: github
        href: https://github.com/susom/starr-oncology-data-lake-arpah
  page-footer:
    right:
      - text: "Report Issue"
        href: "https://github.com/susom/starr-oncology-data-lake-arpah/issues/new?title=Documentation%20Issue"
    center:
      - text: "About"
        href: about.qmd
      - icon: github
        href: https://github.com/susom/starr-oncology-data-lake-arpah
  search: true
  #   show-item-context: true


format:
  html:
    theme: lux
    css: styles.css
    toc: true
    toc-depth: 5
    smooth-scroll: true

execute:
  lib-dir: /home/rstudio/renv/library/linux-ubuntu-noble/R-4.4/aarch64-unknown-linux-gnu
